/* flexbox */
body {
	min-width: 1122px;
  	margin: 0;
  	padding: 0;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif; /* !!! НЕПРАВИЛЬНЫЙ ШРИФТ */
	text-transform: uppercase;
}

.index-logo {
	background-color: black;/* ПРОСТО ЧТО БЫ ЛОГО БЫЛО ВИДНО - НАДО БУДЕТ ИЗМЕНИТЬ */
}

nav a,
.user-block a {
	font-size: 16px;
	line-height: 20px;
	color: red; /* ПО МАКЕТУ БЕЛЫЙ ШРИФТ - НАДО БУДЕТ ИЗМЕНИТЬ */
}

.features h2 {
	color: red; /* ПО МАКЕТУ БЕЛЫЙ ШРИФТ - НАДО БУДЕТ ИЗМЕНИТЬ */
}

h2 {
	font-size: 30px; 
	line-height: 42px;
}

.producers-products legend,
.catalog-item-description-right h3  {
	font-size: 24px;
	line-height: 30px;
}

.catalog-breadcrumbs a {
	font-size: 14px;
	line-height: 20px;
}

.catalog-item-breadcrumbs a {
	font-size: 14px;
	line-height: 24px; /* ПО МАКЕТУ В ЭТИХ КРОШКАХ ТАКОЕ ЗНАЧЕНИЕ */
}

p {
	font-size: 14px;
	line-height: 24px;
}

/* СТРОИМ СЕТКУ INDEX*/
.main-header {
	margin-bottom: 60px;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 auto;
	min-height: 72px;
}

.main-menu {
	width: 780px;
	min-height: 72px;
}

.user-block {
	width: 140px;
	min-height: 72px;
	margin-top: 12px;
	margin-bottom: -12px; /* складываются маргины у хедера и юсер блока */
	margin-left: auto; /* не встает на свое место Вход */
}

.main-header-layout {
	display: flex;
	justify-content: space-between;
}

.main-menu li{
	list-style: none;
	margin-right: 12px;
}
.main-nav {
	display: flex;
	width: 540px;
}

.index-logo {
	width: 368px;
	height: 204px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.features {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.feature-item {
	width: 300px;
	min-height: 180 px; 
	}

.index-content {
	margin-bottom: 35px;
	padding: 50px 80px;
	display: flex;
	justify-content: space-between;
}
.index-content-left {
	width: 380px;
	min-height: 330px;
}
.news-preview li {
	list-style: none;
	margin-left: -40px;
}

.index-content-right {
	width: 300px;
	min-height: 330px;
}
.gallery-content {
	margin-left: 0px;
}
.appointment-form {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}
.form-field {
	position: relative;
	width: 108px;
	margin-right: 20px;
	margin-bottom:20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	flex-grow: 1;
}

.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
}
.main-footer-layout {
	display:flex;
}
.footer-contacts {
	min-height: 90px;
	width: 320px;
	margin-right: 60px;
}

.footer-social {
	min-height: 90px;
	width: 180px;
}
.footer-copyright {
	min-height: 90px;
	width: 180px;
	margin-left: auto;
}


/* catalog */

.index-logo-small {
	width: 120px;
	min-height: 72px;
	background-color: black;
	margin-right: 40px;
}

.catalog-breadcrumbs,
.catalog-item-breadcrumbs {
	display: flex;
	margin-top: 24px;
	margin-bottom: 56px;
	margin-left: -35px;
}

.catalog-breadcrumbs li,
.catalog-item-breadcrumbs li {
	list-style: none;
	margin-right: 15px;
}
.catalog-content {
	display: flex;
	justify-content: space-between;
}
.catalog-content-left {
	width: 165px;
	min-height: 570px;
}

.catalog-content-right {
	width: 700px;
	min-height: 680px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
}

label,
.catalog-item-title,
.pagination {
	font-size: 14px;
	line-height: 18px;
}

.catalog-item {
	width: 220px;
	min-height: 286px;
}

.pagination {
	margin-top: 45px;
	width: 194px;
	display: flex;
	justify-content: space-between;
}
.pagination li {
	list-style: none;
}

/* catalog - item*/
.catalog-item-description {
	display: flex;
	justify-content: space-between;
}
.catalog-item-description-left {
	min-height: 670px;
	width: 460px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.catalog-item-description-right {
	min-height: 670px;
	width: 380px;
}

.availability {
	float: left;
}

.vendor-code {
	float: right;
}

.availability,
.vendor-code {
	padding-top: 24px;
	padding-bottom: 38px;
}
.description {
	font-size: 14px; 
	clear: both;
	padding-bottom: 40px;
}
.consist {
	padding-top: 64px;
	padding-bottom: 36px;
}









