body {
	min-width: 1122px;
  	margin: 0;
  	padding: 0;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif; /* !!! НЕПРАВИЛЬНЫЙ ШРИФТ */
	text-transform: uppercase;
}

.index-logo {
	background-color: black;/* ПРОСТО ЧТО БЫ ЛОГО БЫЛО ВИДНО - НАДО БУДЕТ ИЗМЕНИТЬ */
}

nav a,
.user-block a {
	font-size: 16px;
	line-height: 20px;
	color: red; /* ПО МАКЕТУ БЕЛЫЙ ШРИФТ - НАДО БУДЕТ ИЗМЕНИТЬ */
}

.features h2 {
	color: red; /* ПО МАКЕТУ БЕЛЫЙ ШРИФТ - НАДО БУДЕТ ИЗМЕНИТЬ */
}

h2 {
	font-size: 30px; 
	line-height: 42px;
}

.producers-products legend,
.catalog-item-description-right h3  {
	font-size: 24px;
	line-height: 30px;
}

.catalog-breadcrumbs a {
	font-size: 14px;
	line-height: 20px;
}

.catalog-item-breadcrumbs a {
	font-size: 14px;
	line-height: 24px; /* ПО МАКЕТУ В ЭТИХ КРОШКАХ ТАКОЕ ЗНАЧЕНИЕ */
}

p {
	font-size: 14px;
	line-height: 24px;
}

/* СТРОИМ СЕТКУ INDEX*/
.main-header {
	margin-bottom: 60px;
}
.container {
	width: 940px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;

}

.main-menu {
	min-height: 72px; 
	width: 640px;
	float: left;
}

.main-menu li {
	list-style: none;
	float: left;
	margin-right: 12px;
}

.user-block {
	min-height: 72 px; 
	width: 140px;
	float: right;
	margin-top: 12px;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.index-logo {
	width: 368px;
	height: 204px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}
.features {
	margin-bottom: 80px;
}
.feature-item {
	min-height: 180 px; 
	float: left;
	width: 300px;
	margin-right: 20px;
}

.feature-item:last-child {
	margin-right: 0;
}

.index-content {
	padding: 50px 80px;
	margin-bottom: 35px;
}
.index-content-left {
	min-height: 330px; 
	width: 380px;
	float: left;
}

.index-content-right {
	min-height: 330px; 
	width: 300px;
	float: right;
}

.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.footer-contacts {
	min-height: 90px;
	width: 320px;
	float: left;
	margin-right: 60px;
}
.footer-social {
	min-height: 90px;
	width: 180px;
	float: left;
}
.footer-copyright {
	min-height: 90px;
	width: 180px;
	float: right;
}

/* СЕТКА CATALOG-ITEM */
.index-logo-small {
	min-height: 72px;
	width: 120px;
	float: left;
	margin-right: 40px;
	background-color: black;/* ПРОСТО ЧТО БЫ ЛОГО БЫЛО ВИДНО - НАДО БУДЕТ ИЗМЕНИТЬ */
}
.catalog-breadcrumbs,
.catalog-item-breadcrumbs {
	margin-top: 24px;
	margin-bottom: 56px;
}

.catalog-breadcrumbs li,
.catalog-item-breadcrumbs li {
	list-style: none;
	float: left;
	margin-right: 15px; /* ??? РАССТОЯНИЕ ДО РОМБИКА БЕРЕМ ИЛИ ДО СЛЕДУЮЩЕГО ПУНКТА? */

}
.catalog-item-description-left {
	min-height: 670px;
	width: 460px;
	float: left;
	margin-right: 90px;
}

.catalog-item-description-right {
	min-height: 670px;
	width: 380px;
	float: left;
}
.availability {
	float: left;
}

.vendor-code {
	float: right;
}

.availability,
.vendor-code {
	padding-top: 24px;
	padding-bottom: 38px;
}
.description {
	font-size: 14px; 
	clear: both;
	padding-bottom: 40px;
}
.consist {
	padding-top: 64px;
	padding-bottom: 36px;
}

.main-footer .item,
.main-footer .catalog {
	margin-top: 49px; /* ??? ПО МАКЕТУ ТАКОЕ РАССТОЯНИЕ ДО ФУТЕРА - МЕНЬШЕ ЧЕМ У ГЛАВНОЙ СТРАНИЦЫ, НО НА САМОМ САЙТЕ ЧТО-ТО НИЧЕГО НЕ МЕНЯЕТСЯ??? */
}

/* СЕТКА CATALOG */
.catalog-content-left {
	width: 165px;
	min-height: 570px;
	float: left;
	margin-right: 75px;
}

.catalog-content-right {
	width: 700px;
	float: left;
	min-height: 680px;
	
}


.catalog-content {
	font-size: 0;
}
label,
.catalog-item-title,
.pagination {
	font-size: 14px;
	line-height: 18px;
}
.catalog-item {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	margin-right: 20px;
}

.catalog-item:nth-last-child(n+2) { /* ЕСЛИ ЭТО УБИРАЮ ТО НЕ ВЛЕЗАЮТ В ОДНУ СТРОКУ */
	margin-right: 0;
}


.pagination {
	margin-top: 45px;
	width: 194px;
}
.pagination li {
	list-style: none;
	float: left;
	margin-right: 28px;
}












