body {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", serif;
	text-transform: uppercase;
}

.index-logo {
	background-color: black;/* ПРОСТО ЧТО БЫ ЛОГО БЫЛО ВИДНО - НАДО БУДЕТ ИЗМЕНИТЬ */
}

nav a,
.user-block a {
	font-size: 16px;
	line-height: 20px;
	color: red; /* ПО МАКЕТУ БЕЛЫЙ ШРИФТ - НАДО БУДЕТ ИЗМЕНИТЬ */
}

.features h2 {
	color: red; /* ПО МАКЕТУ БЕЛЫЙ ШРИФТ - НАДО БУДЕТ ИЗМЕНИТЬ */
}

h2 {
	font-size: 30px;
	line-height: 42px;
}

.producers-products legend,
.catalog-item-description-right h3  {
	font-size: 24px;
	line-height: 30px;
}

.catalog-breadcrumbs a {
	font-size: 14px;
	line-height: 20px;
}

.catalog-item-breadcrumbs a {
	font-size: 14px;
	line-height: 24px; /* ПО МАКЕТУ В ЭТИХ КРОШКАХ ТАКОЕ ЗНАЧЕНИЕ */
}

